html, body {
  margin: 0; padding: 0;
  font: 14px/1.3 'Open Sans', Arial, sans-serif;
  color: #000;
}
input, textarea, select {
  font: 14px/1.3 Arial, sans-serif;
  color: #000;
}
html {
  background: #FFF url(/img/code-bg.png) 0 0 repeat-x;
}
body {
  max-width: 860px;
  min-width: 720px;
  margin: 0 auto; padding: 10px;
}
ul, p { margin: 10px 0; }
ul { list-style: none; padding-left: 8px; }
a { color: #150; text-decoration: none; }
a:hover { color: #260; text-decoration: underline; }
h1 { font-size: 16px; font-weight: normal; margin: 10px 0 0; padding: 0; }
h1.title { font-size: 22px; font-weight: normal; margin: 10px 0 0; padding: 0; }
h2 { font-size: 20px; font-weight: normal; margin: 0; padding: 0; }
h3 { font-size: 16px; font-weight: normal; margin: 10px 0 0; padding: 0; }
input[type="text"], input[type="password"], textarea {
  border: 1px solid #CCC; color: #000; border-radius: 2px; 
}
textarea { width: 98%; }
input[type="text"] { width: 50%; }
.post .img { max-width: 100%; border: 0; display: block; margin: 10px auto; }
.post iframe { border: 0; display: block; margin: 10px auto; }
.block {
  margin: 5px 0;
  padding: 5px 10px;
  background: #F8F8F8;
  font-family: monospace;
  white-space: pre-wrap;
}
#header {
  margin: 30px 0 15px; padding: 0;
  font-size: 23px; font-weight: normal;
}
#main { float: left; width: 100%; margin-right: -245px; }
#content { margin-right: 245px; }
#sidebar {
  float: right; width: 195px;
  margin: 5px -5px 0 0;
  padding: 0 10px 10px;
  background: #F8F8F8;
  border-radius: 5px;
}
#menu {
  overflow: hidden;
  margin: 0 -5px 10px; padding: 5px 5px 5px 15px;
  background: #CE6;
  border-radius: 5px;
}
#menu a { display: inline-block; }
#menu .nav { float: left; height: 16px; line-height: 16px; }
#menu .nav a { margin-right: 10px; }
#menu .ctl { text-align: right; height: 16px; line-height: 16px; }
#menu .ctl a {
  height: 12px;
  line-height: 12px;
  margin-right: 10px;
  padding-top: 4px;
  padding-left: 20px;
  font-size: 10px;
  vertical-align: top;
}
#menu .ctl .login { padding-left: 16px; width: 0; overflow: hidden; background: url(/img/lock16.png) 0 0 no-repeat; }
#menu .ctl .logout { background: url(/img/unlock16.png) 0 0 no-repeat; }
#menu .ctl .postfeed { background: url(/img/feed16.png) 0 0 no-repeat; }
#menu .ctl .commentfeed { background: url(/img/feed16.png) 0 50% no-repeat; }
#menu .ctl .search { display: inline; } /* inline-block not working in IE7 for form */
#menu .ctl .search input.text {
  width: 179px; height: 16px;
  border: 1px solid #888; margin: -1px 0; padding: 0 3px;
  vertical-align: top;
  font-size: 11px;
  line-height: 16px;
  border-radius: 2px;
}
#menu .ctl .search input.submit {
  width: 16px; height: 16px;
  border: 0; margin: 0 0 0 4px; padding: 0;
  vertical-align: top;
  background: url(/img/search16.png) 50% 50% no-repeat;
  cursor: pointer;
}
#footer { clear: both; height: 1px; }
#page { margin: 10px 0 20px; font-size: 13px; }
#page a, #page b { display: inline-block; margin: 0 15px 0 0; padding: 0; }
#page b { color: #666; }
.msg {
  margin: 0 -5px 15px; padding: 3px 10px;
  border-radius: 5px;
  background: #B22; color: #FFF;
}
.box { margin: 10px 0; padding: 5px 10px; border: 1px solid #CCC; }
.post { padding: 10px 0; }
#comments { margin: 0 -5px; padding: 10px 0 5px; }
.comment { padding: 10px; border-radius: 5px; background: #F8F8F8; }
.post .content { padding: 10px 0 0; }
.comment .content { margin: 5px 0 0; }
.title { font-size: 16px; }
.post h1 { margin-top: 0; }
.post h3 { font-weight: bold; }
.date { font-size: 10px; color: #999; }
.ccount {
  height: 16px;
  margin-top: 10px;
  padding-left: 20px;
  line-height: 16px;
  font-size: 13px;
  background: url(/img/comments16.png) 0 0 no-repeat;
}
.info { padding-top: 5px; }
.tags { margin: 5px 0 10px 8px; }
.info a, .tags a {
  display: inline-block; min-height: 16px;
  margin: 5px 10px 0 0; padding-left: 20px;
  background: url(/img/tag16.png) 0 50% no-repeat;
  font-size: 12px;
}
.comment:target { background-color: #FFD; }
.button {
  height: 16px;
  padding: 0 12px;
  cursor: default; display: inline-block; outline: none;
  font-size: 11px; line-height: 16px;
  text-decoration: none;
  background: #FAFDF8; color: #555;
  border: 1px solid #999; border-radius: 2px;
}
.button:hover {
  background: #FDFFFA; color: #333;
  border: 1px solid #888; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.button:active, .button:focus { border-color: #8E5; outline: none; }
a.add, a.edit, a.delete {
  display: inline-block;
  width: 16px; height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  background: url(/img/new16.png) 50% 50% no-repeat;
}
a.edit { background: url(/img/edit16.png) 50% 50% no-repeat; }
a.delete { background: url(/img/delete16.png) 50% 50% no-repeat; }
.div { text-align: center; color: #DDD; }
